@{
    ViewBag.Title = "Pedidos";
}
<link href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css" rel="stylesheet" />
@*<link href="http://tablesorter.com/themes/blue/style.css" rel="stylesheet" />*@

<div class="row">
    <div class="col-sm-12">
        <h2>Pedidos</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>Pedido Numero: @ViewBag.CodigoPedido</p>
        <p>Fecha: @DateTime.Now.ToString("dd/MM/yy hh:mm")</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="client">Cliente</label>
            <input class="form-control" id="client" type="text" name="client" value="" />
        </div>
    </div>
    <div id="client-info" class="col-sm-6">        
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="client">Almacen</label>
            @*<input class="form-control" id="store" type="text" name="client" value="" />*@
            @Html.DropDownList("Almacenes", (SelectList)ViewBag.Alamacenes, "Seleccione el almacen", new { @class ="form-control" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#article-modal">
            Agregar articulo
        </button>
        <button type="button" id="guardar" class="btn btn-primary">
            Guardar pedido
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>Articulos</h3>
        <table id="articles" class="table tablesorter">
            <thead>
                <tr>
                    <th>Codigo
                    </th>
                    <th>Descripcion
                    </th>
                    <th>Cantidad
                    </th>
                    <th>Precio
                    </th>
                    <th>Descuento
                    </th>
                    <th>Impuestos
                    </th>
                </tr>
            </thead>
            <tbody id="articles-body">
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
         <table id="summary" class="table">
           <thead>
               <tr>
                   <th>Sub-total</th>
                   <th>Descuentos</th>
                   <th>Impuestos</th>
                   <th>Total</th>
               </tr>
           </thead>
           <tbody id="articles-summary">
               <tr>
                   <td id="articles-subtotal"></td>
                   <td id="articles-descuentos"></td>
                   <td id="articles-impuestos"></td>
                   <td id="articles-total"></td>
               </tr>
           </tbody>
       </table>
    </div>
</div>
<div class="modal fade" id="article-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title">Agregar articulo</h4>
            </div>
            <div class="modal-body">
                @*<div class="form-group">
                    <label for="codigo">Codigo</label>
                    <input id="codigo" class="form-control" type="text" name="codigo" value="" />
                </div>*@
                <div class="form-group">
                    <label for="descripcion">Descripcion</label>
                    <input id="descripcion" class="form-control" type="text" name="descripcion" value="" />
                    <input type="hidden" name="hdfCodigoArticulo" id="hdfCodigoArticulo" value="" />
                </div>
                <div class="form-group">
                    <label for="cantidad">Cantidad</label>
                    <input id="cantidad" class="form-control" type="text" name="cantidad" value="" />
                </div>
                <div class="form-group">
                    <label for="precio">Precio</label>
                    <input id="precio" class="form-control" type="text" name="precio" value="" disabled />
                </div>
                <div class="form-group">
                    <label for="descuento">Descuento</label>
                    <input id="descuento" class="form-control" type="text" name="descuento" value="" />
                </div>
                <div class="form-group">
                    <label for="impuesto">Impuesto</label>
                    <input id="impuesto" class="form-control" type="text" name="impuesto" value="" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" id="agregar" class="btn btn-primary">Agregar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

@section scripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/mustache.js"></script>
    <script id="client-info-template" type="text/template">
        <dl id=client-info-detail"" class="dl-horizontal">
            <dt>Codigo</dt>
            <dd>{{Codigo}}</dd>
            <dt>Nombres</dt>
            <dd>{{Nombres}}</dd>
            <dt>Apellidos</dt>
            <dd>{{Apellidos}}</dd>
            <dt>Cedula</dt>
            <dd>{{Cedula}}</dd>
            <dt>Razon Social</dt>
            <dd>{{RazonSocial}}</dd>
            <dt>Categoria</dt>
            <dd>{{Categoria}}</dd>
        </dl>
    </script> 
    <script id="article-row" type="text/template">
        <tr>
            <td>{{codigo}}</td>
            <td>{{descripcion}}</td>
            <td>{{cantidad}}</td>
            <td>{{precio}}</td>
            <td>{{descuento}}</td>
            <td>{{impuesto}}</td> 
        </tr>
    </script>
    <script type="text/javascript">

        var Pedido = function (clienteId, fecha) {
            this.header = {};
            this.body = {};
            this.body.articulos = [];

            this.header.clienteId = clienteId;
            this.header.fecha = fecha;
            return this;
        };

        Pedido.prototype.setClientId = function (clienteId) {
            this.header.clienteId = clienteId;
        };

        Pedido.prototype.setAlmacenId = function (almacenId) {
            this.header.almacenId = almacenId;
        };

        Pedido.prototype.agregarArticulo = function (articulo, callback) {
            this.body.articulos.push(articulo);

            var subtotal = 0, descuentos = 0, impuestos = 0;
            this.body.articulos.forEach(function (articulo) {
                var precio = (parseInt(articulo.precio) || 0),                     
                    descuento = (parseInt(articulo.descuento) || 0),
                    impuesto = (parseInt(articulo.impuesto) || 0),
                    cantidad = (parseInt(articulo.cantidad) || 1)

                subtotal += precio * cantidad;
                descuentos += descuento * cantidad;
                impuestos += impuesto * cantidad;
            });
            
            this.subtotal = subtotal;
            this.descuentos = descuentos;
            this.impuestos = impuestos;
            this.total = subtotal - descuentos + impuestos;

            if (callback !== undefined) {
                callback();
            }
        };
        Pedido.prototype.parse = function () {
            return {
                header: this.header,
                body: this.body,
            };
        };

        $(function () {
            var pedido = new Pedido();

            $('#agregar').click(function (e) {
                e.preventDefault();

                var codigo = $('#hdfCodigoArticulo').val();
                var descripcion = $('#descripcion').val();
                var cantidad = $('#cantidad').val();
                var precio = $('#precio').val();
                var descuento = $('#descuento').val();
                var impuesto = $('#impuesto').val();

                var articulo = {
                    codigo: codigo,
                    descripcion: descripcion,
                    cantidad: cantidad,
                    precio: precio,
                    descuento: descuento,
                    impuesto: impuesto
                }
                var html = Mustache.render($('#article-row').html(), articulo);
                if (!articulo.descripcion) {
                    return;
                }

                $('#articles-body').append(html);
                $('#article-modal').modal('hide');
                clear();
                //Despues de agregar el articulo, actualizar el tableSorter $("table#stats").trigger("update");
                pedido.agregarArticulo(articulo, function () {
                    $("#articles").trigger("update");

                    //console.log(pedido.subtotal, pedido.descuentos, pedido.impuestos, pedido.total);

                    $('#articles-subtotal').html(pedido.subtotal);
                    $('#articles-descuentos').html(pedido.descuentos);
                    $('#articles-impuestos').html(pedido.impuestos);
                    $('#articles-total').html(pedido.total);
                });
            });

            $('#Almacenes').change(function () {
                pedido.setAlmacenId($(this).val());
            });


            $('#guardar').click(function (e) {
                e.preventDefault();

                $.postJSON('@Url.Action("SaveRequest")', pedido, function (data) {
                    // algo
                    alert('Pedido guardado.');
                }, function () {
                    alert('No se pudo guardar el pedido.');
                });
            });

            var clear = function () {
                $('#codigo').val('');
                $('#descripcion').val('');
                $('#cantidad').val('');
                $('#precio').val('');
                $('#descuento').val('');
                $('#impuesto').val('');
            };

            $.postJSON = function (url, data, SuccessCallback, FailCallback) {
                return jQuery.ajax({
                    'type': 'POST',
                    'url': url,
                    'contentType': 'application/json',
                    'data': JSON.stringify(data),
                    'dataType': 'json',
                    'success': SuccessCallback,
                    'fail': FailCallback
                });
            };

            $("#articles").tablesorter();

            $("#descripcion").autocomplete({
                source: '@Url.Action("AutoCompleteArticulo")',
                minLength: 2,
                select: function (event, ui) {

                    $(this).val(ui.item.Descripcion);
                    document.getElementById("hdfCodigoArticulo").value = ui.item.Codigo;
                    document.getElementById("precio").value = ui.item.PrecioCompra;
                    document.getElementById("impuesto").disabled = ui.item.Impuesto;

                    return false;
                }
            }).autocomplete("instance")._renderItem = function (ul, item) {
                return $("<li>")
                  .append("<a>" + item.Descripcion + "</a>")
                  .appendTo(ul);
            };

            $("#client").autocomplete({
                source: '@Url.Action("AutoCompleteCliente")',
                minLength: 2,
                select: function (event, ui) {

                    $(this).val(ui.item.Codigo);

                    var template = Mustache.render($('#client-info-template').html(), ui.item);

                    $('#client-info').hide('fast');
                    $('#client-info').children('#client-info-detail').remove();
                    $('#client-info').append(template);
                    $('#client-info').show('fast');

                    return false;
                }
            }).autocomplete("instance")._renderItem = function (ul, item) {
                return $("<li>")
                  //.append("<a>" + item.Nombres + " " + item.Apellidos + "</a>")
                    .append('<a>' + item.RazonSocial + '</a>')
                    .appendTo(ul);
            };
        });

    </script>
}